<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blockchain</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/DataTables/css/datatables.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/static/css/custom.css" rel="stylesheet">

</head>

<body style="background-color:rgba(27, 39, 114, 0.513);">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Energy Trading</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Deploy </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add_order">Orders </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/buyer">Buyer
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/seller">Seller</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--  -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="card-body">
          <h4 class="card-title" style="color:rgb(48, 10, 4);">List existing offers</h4>
          <!-- <p class="card-text" style="color:rgb(48, 10, 4);">Enter energy and price values, Click 'Add order'
                    to add your energy offer</p>-->
          <input type="button" id="list_all_offers" class="btn btn-primary btn-lg" value="List Offers">
        </div>

      </div>
    </div>
  </div>
  <br>
  <div class="container">

    <div class="row">
      <label class="col-sm-2" style="font-size:20px" style="color:rgb(93, 58, 52);">Existing offers:</label>
      <div class="col-sm-5">
        <textarea id="all_offers" rows="2" class="form-control" readonly></textarea>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">


        <div class="card-body">
          <h4 class="card-title" style="color:rgb(48, 10, 4);">Choose Offer</h4>
          <p class="card-text" style="color:rgb(48, 10, 4);">Enter offer id and Click 'Choose offer'
            to select</p>
          <!--  <input type="button" id="add_order" class="btn btn-primary btn-lg" value="Add order">-->
        </div>

      </div>
    </div>
  </div>

  <br>
  <div class="container alert alert-secondary">
    <form id="transaction_form">


      <div class="row">
        <label class="col-sm-2" style="font-size:20px" style="color:rgb(93, 58, 52);">Offer ID:</label>
        <div class="col-sm-10">
          <input type="text" name="offer_id" id="offer_id" rows="2" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 text-center">
          <input type="button" id="choose_order" class="btn btn-primary btn-lg" value="Choose Offer">
        </div>
      </div>

      <br>

      <div class="row" id="warning" style="display:none">
        <div class="col-sm-12">
          Success
        </div>
      </div>

      <!-- Modal -->
      <div class="modal modal-alert fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal"
        aria-hidden="true">
        <div class="modal-dialog">

          <div class="modal-content">

            <div class="modal-header">
              <div class="modal-title col-md-10" style="color:gray;">Order confirmed, to proceed with payment click
                proceed</div>
              <button type="button" class="close col-md-2" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body">

              <form id="confirmation_transaction_form">

                <div class="row">
                  <label class="col-sm-12" style="color:Tomato;">ID</label>
                  <div class="col-sm-12">
                    <input type="text" name="confirm_offer_id" id="confirm_offer_id" rows="2" class="form-control"
                      readonly>

                  </div>
                </div>

                <div class="row">
                  <label class="col-sm-12" style="color:Tomato;">Energy</label>
                  <div class="col-sm-12">
                    <input type="text" name="confirm_energy" id="confirm_energy" rows="2" class="form-control" readonly>
                  </div>
                </div>

                <div class="row">
                  <label class="col-sm-12" style="color:Tomato;">Price:</label>
                  <div class="col-sm-12">
                    <input type="text" name="confirm_price" id="confirm_price" rows="2" class="form-control" readonly>
                  </div>
                </div>

              </form>


            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
              <button type="button" id="button_confirm_transaction" class="btn btn-success">Proceed</button>
            </div>

          </div>

        </div>
      </div>

      <div class="row" id="warning" style="display:none">
        <div class="col-sm-12">
          Success
        </div>
      </div>

      <div class="modal modal-alert fade" id="success_transaction_modal" tabindex="-1" role="dialog"
        aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body">
              <div class="alert alert-success" role="alert">
                <h4 class="alert-heading" style="color:green;">Successful!</h4>
                <p style="color:blue;">Payment sent to broker, wait for confirmation.</p>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" id="button_confirm_transaction" class="btn btn-success"
                data-dismiss="modal">OK</button>
            </div>

          </div>
        </div>
      </div>



      <!-- Bootstrap core JavaScript -->
      <script src="/static/vendor/jquery/jquery.min.js"></script>
      <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script type="text/javascript" src="/static/vendor/DataTables/js/datatables.min.js"></script>
      <script src="/static/vendor/DataTables/js/ellipsis.js"></script>


      <script>
        $(function () {
          $('#list_all_offers').click(function () {

            $.ajax({
              url: '/listOffers',
              type: 'GET',
              success: function (response) {
                document.getElementById("all_offers").value = response['offers'];
              },
              error: function (error) {
                console.log(error);
              }
            });
          });
        })
        $(function () {
          $("#choose_order").click(function () {

            $.ajax({
              url: "/chooseOffer",
              type: "POST",
              dataType: 'json',
              data: $('#transaction_form').serialize(),
              success: function (response) {
                document.getElementById("offer_id").value = response["offer_id"];
                document.getElementById("warning").style.display = "block";
                //document.getElementById("choose_offer").value = response['offer'];

                $("#basicModal").modal('show');
                document.getElementById("confirm_offer_id").value = response["offer_id"];
                document.getElementById("confirm_energy").value = response["energy"];
                document.getElementById("confirm_price").value = response["price"];
                document.getElementById("offer_id").value = response["offer_id"];



              },
              error: function (error) {
                console.log(error);
              }
            });
          });
        })

        $(function () {
          $("#button_confirm_transaction").click(function () {
            //console.log($('#confirmation_transaction_form').serialize());


            $.ajax({
              url: "/buyerConfirm",
              type: "POST",
              headers: { 'Access-Control-Allow-Origin': '*' },
              dataType: 'json',
              data: $('#confirmation_transaction_form').serialize(),
              data: $('#transaction_form').serialize(),
              success: function (response) {

                document.getElementById("offer_id").value = response["offer_id"];
                $("#basicModal").modal('hide');
                $("#success_transaction_modal").modal('show');


              },
              error: function (error) {
                console.log(error);
              }
            });

          });
        });

      </script>



</body>

</html>