<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blockchain</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/DataTables/css/datatables.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/static/css/custom.css" rel="stylesheet">


</head>

<body style="background-color:rgba(27, 39, 114, 0.513);">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Energy Trading</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Deploy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add_order">Orders </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/buyer">Buyer</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/seller">Seller
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--  -->
  <!--  -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="card-body">
          <h4 class="card-title" style="color:rgb(48, 10, 4);">List existing offers</h4>
          <!-- <p class="card-text" style="color:rgb(48, 10, 4);">Enter energy and price values, Click 'Add order'
                  to add your energy offer</p>-->
          <input type="button" id="list_all_offers" class="btn btn-primary btn-lg" value="List Offers">
        </div>

      </div>
    </div>
  </div>
  <br>
  <div class="container">

    <div class="row">
      <label class="col-sm-2" style="font-size:20px" style="color:rgb(93, 58, 52);">Existing offers:</label>
      <div class="col-sm-5">
        <textarea id="all_offers" rows="2" class="form-control" readonly></textarea>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">


        <div class="card-body">
          <h4 class="card-title" style="color:rgb(48, 10, 4);">Confirm</h4>
          <p class="card-text" style="color:rgb(48, 10, 4);">Enter offer id and Click 'Confirm'
            to confirm energy transfer</p>
          <!--  <input type="button" id="add_order" class="btn btn-primary btn-lg" value="Add order">-->
        </div>

      </div>
    </div>
  </div>

  <br>
  <div class="container alert alert-secondary">
    <form id="transaction_form">


      <div class="row">
        <label class="col-sm-2" style="font-size:20px" style="color:rgb(93, 58, 52);">Offer ID:</label>
        <div class="col-sm-10">
          <input type="text" name="offer_id" id="offer_id" rows="2" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 text-center">
          <input type="button" id="choose_order" class="btn btn-primary btn-lg" value="Confirm">
        </div>
      </div>

      <br>

      <div class="row" id="warning1" style="display:none">
        <div class="col-sm-12">
          <div class="alert alert-danger" role="alert">
            Success!
            <ul>
              <li>Order confirmed, click "Start Transfer" to start the energy transfer and wait</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-12 text-center">
        <input type="button" id="start_button" class="btn btn-primary btn-lg" value="Start Transfer">
      </div>

      <div class="row" id="warning2" style="display:none">
        <div class="col-sm-12">
          <div class="alert alert-danger" role="alert">
            <ul>
              <li>Energy transfer is in progress, wait to complete transfer</li>
            </ul>
          </div>
        </div>
      </div>




      <div class="row" id="warning3" style="display:none">
        <div class="col-sm-12">
          <div class="alert alert-danger" role="alert">
            <ul>
              <li>Transfer Complete</li>
            </ul>
          </div>
        </div>
      </div>
      <!--
      <div class="row">
         <label class="col-sm-2" style="color:Tomato;"></label>
        <div class="col-sm-5">
          <textarea id="status" rows="3" class="form-control" readonly></textarea>
        </div>
      </div>-->

      <!-- Bootstrap core JavaScript -->
      <script src="/static/vendor/jquery/jquery.min.js"></script>
      <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script type="text/javascript" src="/static/vendor/DataTables/js/datatables.min.js"></script>
      <script src="/static/vendor/DataTables/js/ellipsis.js"></script>


      <script>
        $(function () {
          $('#list_all_offers').click(function () {

            $.ajax({
              url: '/listOffers',
              type: 'GET',
              success: function (response) {
                document.getElementById("all_offers").value = response['offers'];
              },
              error: function (error) {
                console.log(error);
              }
            });
          });
        })

        $(function () {
          $("#start_button").click(function () {
            document.getElementById("warning2").style.display = "block";

            $.ajax({
              url: "/start",
              type: "GET",
              success: function (response) {

                //window.location.reload();

                //document.getElementById("timer").value = response["timer"];
                document.getElementById("warning3").style.display = "block";


              },
              error: function (error) {
                console.log(error);
              }
            });

          });
        })

        $(function () {
          $("#choose_order").click(function () {

            $.ajax({
              url: "/sellerConfirm",
              type: "POST",
              dataType: 'json',
              data: $('#transaction_form').serialize(),
              success: function (response) {
                document.getElementById("offer_id").value = response["offer_id"];
                document.getElementById("warning1").style.display = "block";
                //document.getElementById("choose_offer").value = response['offer'];

              },
              error: function (error) {
                console.log(error);
              }
            });
          });
        })


      </script>



</body>

</html>